$hamisorSiteBlack:			#252a32;
$hamisorSiteWhite:			#dde9f2;
$hamisorSiteLightGrey:		#f6f8fa;
$hamisorSiteLightestGrey:	#adadad;
$hamisorSiteGrey:			#edf0f3;
$hamisorSiteDarkGrey:		#EEEEEE;
$hamisorSiteBlue:			#0173b1;
$hamisorSiteNavy:			#283e49;
$hamisorSiteMediumNavy:		#2f4652;
$hamisorSiteLightNavy:		#364e5a;

