@import "hamisorSiteColors";

$hamisorSiteBorderColor:				$hamisorSiteBlack;
$hamisorSiteContentBgColor:				$hamisorSiteGrey;
$hamisorSiteCellBgColor:				$hamisorSiteLightGrey;
// Burger menu
$hamisorSiteBurgerMenuCloseBtnColor:	$hamisorSiteLightestGrey;
$hamisorSiteBurgerMenuBarColor:			$hamisorSiteLightestGrey;
$hamisorSiteBurgerMenuListFontColor:	$hamisorSiteLightestGrey;
$hamisorSiteBurgerMenuBgColor:			$hamisorSiteNavy;
// Header menu
$hamisorSiteHeaderMenuBgColor:			$hamisorSiteNavy;
$hamisorSiteHeaderMenuFontColor: 		$hamisorSiteLightestGrey;
$hamisorSiteHeaderMenuHoverColor:		$hamisorSiteMediumNavy;
$hamisorSiteHeaderMenuActiveColor:		$hamisorSiteLightNavy;
// About me nav tabs
$hamisorSiteAboutMeNavTabColor:			$hamisorSiteGrey;
// Projects
$hamisorSiteProjectsViewBtnFontColor:	$hamisorSiteWhite;
$hamisorSiteProjectsViewBtnBgColor:		$hamisorSiteBlue;
