.projects
{
  .userProjects
  {
    .userProjectDetail
    {
      margin: 40px 0;
      @extend %cellBgCommonStyle;

      .viewBtn
      {
		@include borderRadius(0);
		background-color: aqua;
      }
      p
      {
        margin-top: 15px;
      }
    }
  }
}