.education
{
  .educationDetail
  {
    margin: 40px 0;
    @extend %cellBgCommonStyle;

    .row
    {
      .col-12
      {
        margin-bottom: 10px;
      }
      @include media-breakpoint-up(md)
      {
        .institutionNameCol
        {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    h5
    {
      margin-bottom: 15px;
    }
  }
}