.education
{
  .educationDetail
  {
    padding: 20px 0;
    .row
    {
      @include media-breakpoint-up(md)
      {
        .institutionNameCol
        {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}