.skills
{
  .skillsDetail
  {
    .skillDetail
    {
      margin: 40px 0;
      @extend %cellBgCommonStyle;

      img
      {
        max-height: 90px;
        margin: 20px 40px 20px 0;
      }
    }
  }
}