// Hamisor site variables
@import "variables/hamisorSiteColorUsageName";
@import "variables/hamisorSiteFontSize";
// Hamisor site mixins
@import "mixins/mixins";

// Hamisor site styles
#reactApp
{
  #appContainer
  {
    height: 100vh;

    // Global common style
    a
    {
      color: black;
      &:hover
      {
        color: black;
      }
    }

    %cellBgCommonStyle
    {
      background-color: $hamisorSiteCellBgColor;
      padding: 20px;
    }

    ////////////////////////////////////

    // This navbar style is shared between burgerMenu and headerMenu
    @import "components/menu/common/navBar";

    @import "components/menu/burgerMenu";
    #pageContainer
    {
      // Shared variables
      $pageContainerHeight: 100%;
      $headerMenuHeight:    80px;

      height: $pageContainerHeight;
      overflow: hidden;
      @import "components/menu/headerMenu";
      @import "components/content/content";
    }
  }
}
