.userBio
{
  margin-bottom: 40px;
  // Hamisor site loader height override
  .hamisorSiteLoader
  {
    height: 50px;
  }

  .userBioDetail
  {
    @extend %cellBgCommonStyle;
    .userProfileImgCol
    {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      img
      {
        max-height: 300px;
      }
    }
    .userBioInfoCol
    {
      padding: 10px;
      .userBioLinks
      {
        display: flex;
        align-items: center;
        height: 100%;
        .nav-link
        {
          padding: 0 14px 20px 0;
          img
          {
            height: 25px;
            @include media-breakpoint-up(lg)
            {
              &:hover
              {
                opacity: 0.4;
              }
            }
          }
        }
      }
    }
  }
}