@import "hamisorSiteColors";

$hamisorSiteBorderColor:				$hamisorSiteBlack;
$hamisorSiteContentBgColor:				$hamisorSiteGrey;
$hamisorSiteCellBgColor:				$hamisorSiteWhite;
// BURGER MEN
$hamisorSiteBurgerMenuCloseBtnColor:	$hamisorSiteBlack;
$hamisorSiteBurgerMenuListFontColor:	$hamisorSiteBlack;
$hamisorSiteBurgerMenuBackgroundColor:	$hamisorSiteGrey;
