@import "hamisorSiteColors";

$hamisorSiteBorderColor:				$hamisorSiteBlack;
// BURGER MEN
$hamisorSiteBurgerMenuCloseBtnColor:	$hamisorSiteBlack;
$hamisorSiteBurgerMenuListFontColor:	$hamisorSiteBlack;
$hamisorSiteBurgerMenuBackgroundColor:	$hamisorSiteGrey;
