@import "hamisorSiteColors";

$hamisorSiteBorderColor:				$hamisorSiteBlack;
$hamisorSiteContentBgColor:				$hamisorSiteGrey;
$hamisorSiteCellBgColor:				$hamisorSiteWhite;
// Burger menu
$hamisorSiteBurgerMenuCloseBtnColor:	$hamisorSiteBlack;
$hamisorSiteBurgerMenuListFontColor:	$hamisorSiteBlack;
$hamisorSiteBurgerMenuBackgroundColor:	$hamisorSiteGrey;
// About me nav tabs
$hamisorSiteAboutMeNavTabColor:			$hamisorSiteGrey;
