@mixin calc-sub($dimensionName, $containerDimension, $neighbourDimension)
{
  #{$dimensionName}: -webkit-calc(#{$containerDimension} - #{$neighbourDimension});
  #{$dimensionName}:    -moz-calc(#{$containerDimension} - #{$neighbourDimension});
  #{$dimensionName}:         calc(#{$containerDimension} - #{$neighbourDimension});
}

@mixin borderRadius($radius)
{
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}